extends ../layouts/user

block body
	.container: .well
		if config.wornet.admin.certifier.indexOf(user.email) >= 0
			h3
				=s('Gestion des certifications')
			a.btn(href="/admin/certification/list" style="width: 220px; height: 220px; padding: 20px 10px; text-align: center; margin: 20px;")
				+glyph("circle-ok")#glyph-certification
				br
				br
				| Liste des certificats distribués
				
			a.btn(href="/admin/certification/pending" style="width: 220px; height: 220px; padding: 20px; text-align: center; margin: 20px;")
				+glyph("circle-ok")#glyph-certification
				br
				br
				| Demandes de certification
				br
				span.pill
					=nbPendingCertification
