p(style="margin: 10px;")
	img(src="https://www.wornet.fr/img/wornet-gray.png" alt="Wornet")

p(style="margin: 10px;"): b
	| Qu’est-ce que Wornet ?

p(style="margin: 10px;")
	| Wornet est une startup composée de 4 jeunes entrepreneurs qui ont démarré, il y a deux ans, une folle aventure avec une idée : « créer un réseau social français éthique ». Un pari risqué surtout lorsqu’on sait que la majorité des internautes connaissent et/ou utilisent les réseaux sociaux américains concurrents.

p(style="margin: 10px;"): b
	| (C’est tout ?)

p(style="margin: 10px;")
	| Non ! Wornet a une vision durable et à long terme. L’équipe souhaite, dans un futur proche, ouvrir un réseau social professionnel, totalement indépendant du réseau social perso. Le but : que des jeunes comme nous puissent accéder plus facilement à des outils professionnels sans avoir forcément l’obligation de gérer deux comptes…

p(style="margin: 10px;"): b
	| Les concurrents ? 

p(style="margin: 10px;")
	| Vous les connaissez… Nous les utilisons chaque jour (FB, TW, G+ pour ne citer qu’eux..) mais Wornet fait le pari de la centralisation et de l’éthique !

p(style="margin: 10px;")
	| Votre ami a décidé de faire partie de cette aventure et vous invite à le rejoindre afin que vous puissiez tout comme lui 
	b disposer d’un compte qui par défaut bénéficie de la sécurité la plus optimale possible.

p(style="margin: 10px;")
	| Si vous soutenez cette initiative 
	a(href="{url}")
		| inscrivez-vous !

p(style="margin: 10px;")
	a(href="{url}")
		| {url}

p(style="margin: 10px;")
	| La promesse de Wornet : « Maîtrisons au mieux la portée de nos informations et créons 
	b ensemble 
	| l’outil social de demain »

p(style="margin: 10px; color: gray;")
	| WORNET, 38 rue François Chénieux, 87000 Limoges
	br
	| Un problème ? Vous pouvez nous contacter à l’adresse contact@wornet.fr
