#chat(ng-controller="ChatCtrl" class=(config.wornet.chat.multiline ? 'multiline' : null))
	.chat(ng-repeat="(chatId, chat) in chats" ng-show="chat.open" ng-class="{'minimized': chat.minimized}")
		h4(ng-click="minimize(chat)")
			a.close(ng-click="close(chat); $event.stopPropagation();")
				+glyph('remove-sign')
			span(ng-repeat="(index, user) in chat.users")
				if index > 0
					=", "
				+link("/user/profile/{{ user.hashedId }}/{{ user.name.full | urlencode }}", "{{ user.name.full }}")(ng-click="$event.stopPropagation()")
		.messages(ng-show="!chat.minimized")
			.message(ng-repeat="message in chat.messages")
				.date(data-date="{{ message.date }}" data-date-delay="180")
					|&nbsp;
				span.ok(ng-show="message.ok")
					+glyph('ok')
				img(ng-src="{{ message.from.thumb50 }}" ng-show="message.from && message.from.thumb50")
				.content.word-wrap(class="{{ message.from ? 'received' : 'sent' }}")
					| {{ message.content }}
		+form()(ng-submit="send(message, chatId)" ng-show="!chat.minimized")
			if config.wornet.chat.multiline
				textarea.form-control.do-not-loose(ng-model="message.content" ng-keypress="press($event, message, chatId)" placeholder=s("Entrez votre message ici") focus="true")
				button(type="submit")
					+glyph('arrow-right')
			else
				+formControl().do-not-loose(ng-model="message.content" placeholder=s("Entrez votre message ici") focus="true")
				button(type="submit")
