+standardBlock(s("Inviter vos amis sur Wornet"))
	+form("/invite", "PUT")
		label
			=s("Indiquez les adresses électroniques de vos amis (séparés par des virgules) afin qu'ils puissent vous rejoindre sur le réseau social.")
			.input-group
				+formControl().do-not-loose(
					name="emails"
					required
					pattern=pattern('emailMultiple')
					placeholder=s("Ex: dupont@gmail.com, hercule@live.fr")
				)
				span.input-group-btn
					input(type="submit" value=s("Inviter")).btn
