.well.loading(ng-controller="MediasCtrl" ng-init="isMe = " + isMe + "; profileFirstName = " + JSON.stringify(profile.firstName)).medias-block
	h3(ng-class="{ myMedias: isMe }")
		| {{ mediaTitle() }}
	hr
	.album(ng-repeat="album in albums")
		a(href="/user/album/{{ album._id }}")
			h4 {{ albumTitle(album) }}
		.preview
			img(ng-repeat="id in album.preview" ng-src="/img/photo/50x{{ id }}.jpg")
	.cb
		a(href="")
			=s('Afficher tous les albums...')
