.well.loading(ng-controller="MediasCtrl")
	if isMe
		h3.myMedias
			=strtoupper(s("Mes médias"))
	else
		h3
			=strtoupper(s("Médias de {owner}", { owner: profile.firstName }))
	hr
	.album(ng-repeat="album in albums" ng-click="selectAlbum(album)" ng-if=(config.wornet.media.displayAlbumTitle ? undefined : "album.preview && album.preview.length"))
		if config.wornet.media.displayAlbumTitle
			h4 {{ album.name }}
		.preview
			a(href="/user/album/{{ album._id }}")
				img(ng-repeat="id in album.preview" ng-src="/img/photo/50x{{ id }}.jpg")
	.cb
