#shutter(class=(user && user.openedShutter ? 'opened-shutter' : null)): .inner-shutter
	ul.nav: li: a(href="/user/settings")
		=s("Paramètres")
		| &nbsp; 
		+half('cog')

	a(href="/" + user.uniqueURLID)
		+half('user')
		| &nbsp; 
		=s("Espace personnel")

	a(data-toggle="tooltip" data-placement="top" title=s("Arrivée prévue en 2016-2017"))
		+half('envelope')
		| &nbsp; 
		=s("Espace professionnel")

	a(data-toggle="tooltip" data-placement="top" title=s("Arrivée prévue en 2017-2018"))
		+half('glyph-camera')
		| &nbsp; 
		=s("Dailycapture")

	.footer
		!=s("{copyright} Wornet {year}", { copyright: '&copy;', year: Date.year() })
		| &nbsp;| &nbsp;
		a(href="http://blog.wornet.fr/")
			=s("Blog")
		| &nbsp;| &nbsp;
		a.legals(data-toggle="modal" data-target="#legals")
			=s("Mentions légales")
		| &nbsp;| &nbsp;
		a.contact(data-toggle="modal" data-target="#contact")
			=s("Nous contacter")
