.status-block(ng-repeat="status in recentStatus" data-id="{{ status._id }}" ng-if="(status.images && status.images.length) || (status.links && status.links.length) || (status.videos && status.videos.length) || (status.content && status.content.length)")
	//- .nostyle(data-starpush="{{ status._id }}")
	.aside.continue
		a.dropdown-toggle(href="#" data-toggle="dropdown")
			+glyph('cog')
		ul.dropdown-menu(role="menu")
			li(ng-if="status.concernMe")
				a.ajax(href="#" ng-click="delete(status, $event)" data-toggle="tooltip" data-placement="top" title=s("Supprimer ce contenu"))
					+glyph('trash')
					| &nbsp; 
					=s("Supprimer")
			li(ng-if="! status.reported")
				a.ajax(href="/report/{{ status._id }}" ng-click="report(status, $event)" data-toggle="tooltip" data-placement="top" title=s("Signaler ce contenu comme inapproprié"))
					+glyph('exclamation-sign')
					| &nbsp; 
					=s("Signaler")
		.alert.alert-success(ng-if="status.reported")
			=s("Une alerte a été envoyée aux modérateurs de Wornet. Merci pour votre aide.")
	.status-author
		img(ng-src="{{ status.author.thumb50 }}" data-user-thumb="{{ status.author.hashedId }}" data-thumb-size="50")
		+link("/user/profile/{{ status.author.hashedId }}/{{ status.author.name.full | urlencode }}", "{{ status.author.name.full }}")
		span(ng-if="status.at")
			+glyph('chevron-right')
			img(ng-src="{{ status.at.thumb50 }}" data-user-thumb="{{ status.at.hashedId }}" data-thumb-size="50")
			+link("/user/profile/{{ status.at.hashedId }}/{{ status.at.name.full | urlencode }}", "{{ status.at.name.full }}")
		//-span(ng-show="{{ status.at }}")
			=s("posté chez")
			+link("/user/profile/{{ status.at.hashedId }}/{{ status.at.name.full | urlencode }}", "{{ status.at.name.full }}")
	.date(data-date="{{ status.date }}")
	.status-content
		.alert.alert-info.glued(ng-if="status.status === 'blocked'")
			=s("Ce contenu a été bloqué.")
	.status-content.word-wrap(ng-if="status.content && status.content.length && status.status !== 'blocked'" ng-bind-html="status.content")
	.medias(ng-if="status.status !== 'blocked' && (status.images.length > 0 || status.videos.length > 0 || status.links.length > 0)")
		div(ng-if="status.images.length > 0")
			h3(ng-if="status.album")
				a(href="/user/album/{{ status.album }}")
					+glyph('folder-open')
					|&nbsp; {{ status.albumName }}
			h3(ng-if="! status.album")
				=s("Images")
			a(ng-repeat="image in status.images" data-toggle="modal" data-target="#media-viewer" ng-click="loadMedia('image', image)")
				img(ng-src="{{ image.src }}" alt="{{ image.name }}")
		div(ng-if="status.videos.length > 0")
			h3=s("Vidéos")
			div(ng-repeat="video in status.videos")
				iframe.preview(ng-src="{{ video.href }}" frameborder="0" allowfullscreen)
				a(data-toggle="modal" data-target="#status-view" ng-click="loadMedia('video', video)")
					=s("Plus")
		div(ng-if="status.links.length > 0")
			h3=s("Liens")
			a(ng-repeat="link in status.links" target="_blank" href="{{ link.https ? 'https' : 'http' }}://{{ link.href }}") {{ link.href }}
	.cb
