.well.loading.loading-big-height.fit-to-bottom.macro(ng-controller="StatusCtrl")
	if (isMe || isAFriend) && profile.allowFriendPostOnMe
		include ../includes/status-form.jade
	include ../includes/status-list.jade
