div(ng-repeat="status in recentStatus")
	.date(data-date="{{ status.date }}")
	.status-author
		img(ng-src="{{ status.author.thumb50 }}")
		| {{ status.author.name.full }}
	.status-content
		| {{ status.content }}