.status-block(ng-repeat="status in recentStatus")
	.status-author
		img(ng-src="{{ status.author.thumb50 }}")
		+link("/user/profile/{{ status.author.hashedId }}/{{ status.author.name.full | urlencode }}", "{{ status.author.name.full }}")
		//-span(ng-show="{{ status.at }}")
			=s("posté chez")
			+link("/user/profile/{{ status.at.hashedId }}/{{ status.at.name.full | urlencode }}", "{{ status.at.name.full }}")
	.date(data-date="{{ status.date }}")
	.medias
		div(ng-if="status.images.length > 0")
			h3=s("Images")
			a(ng-repeat="image in status.images" data-toggle="modal" data-target="#status-view" ng-click="loadMedia('image', image)")
				img(ng-src="{{ image.src }}" alt="{{ image.name }}")
		div(ng-if="status.videos.length > 0")
			h3=s("Vidéos")
			div(ng-repeat="video in status.videos")
				iframe.preview(ng-src="{{ video.href }}" frameborder="0" allowfullscreen)
				a(data-toggle="modal" data-target="#status-view" ng-click="loadMedia('video', video)")
					=s("Plus")
		div(ng-if="status.links.length > 0")
			h3=s("Liens")
			a(ng-repeat="link in status.links" target="_blank" href="{{ link.https ? 'https' : 'http' }}://{{ link.href }}") {{ link.href }}
	.status-content.word-wrap
		| {{ status.content }}

#status-view.modal.fade: .modal-dialog: .modal-content
	.modal-header
		button.close(type='button', data-dismiss='modal')
			span(aria-hidden='true') ×
			span.sr-only
				=s("Fermer")
		h4.modal-title
			| {{ loadedMedia.name }}
	.modal-body(ng-switch="loadedMedia.type")
		img.big(ng-switch-when="image" ng-src="{{ loadedMedia.src }}" alt="{{ loadedMedia.name }}")
		iframe(ng-switch-when="video" ng-src="{{ loadedMedia.href }}" frameborder="0" allowfullscreen data-ratio="1.7778")
		div(ng-switch-default)=s("Format de média inconnu")
	.modal-footer
		button.btn(type='button', data-dismiss='modal')
			=s("Fermer")
