extends ../layouts/user


block nav
	#wornet-navbar.wornet-navbar.wornet-navbar-fixed-top.nav(role='navigation'): .container-fluid
		h1.col-xs-12
			!=upperTitle
		block inner-nav
	.main-padding

block body
	.col-xs-12: .well
		block inner-body
