extends ../layouts/wornet

block nav
	nav#navbar.navbar.navbar-fixed-top
		ul.nav.navbar-nav
			li.active: a(href="/")
				glyph("globe")
				&nbsp; &nbsp;
				=s("Accueil")
			li.active: a(href="/")
				glyph("envelope")
				=s("Message")

		h1
			=s("WORNET")

block footer