- var mainTitle = s("Wornet")
- var upperTitle = strtoupper(mainTitle)
block params
	- var bodyClasses = 'openingTemplate bg' + Math.floor(Math.random() * 3 + 1)
include ../includes/mixins

if isXHR
	.body-class=bodyClasses
	include ../includes/body
else
	doctype html
	html.no-js(lang=lang() xmlns:ng="http://angularjs.org")
		head
			include ../includes/head

		body(ng-app="Wornet" class=bodyClasses)
			include ../includes/body
