- var mainTitle = s("Wornet")
- var upperTitle = jd('a.banner(href="/"): img(src=' + JSON.stringify(png('wornet')) + ' alt=' + JSON.stringify(strtoupper(mainTitle)) + ' width="171" height="45")')
block params
	- var bodyClasses = 'openingTemplate bg' + Math.floor(Math.random() * 3 + 1)
include ../includes/mixins

if isXHR
	.body-class=bodyClasses
	include ../includes/body
else
	doctype html
	html.no-js(ng-app="Wornet" lang=lang() xmlns:ng="http://angularjs.org")
		head(ng-controller="HeadCtrl")
			include ../includes/head

		body(class=bodyClasses)
			include ../includes/body
