extends layouts/wornet

block body
	h1
		=s("Respirez, vous êtes sur Wornet.")
	section
		input.btn.btn-primary(type="button", value=s("If I am blue, Bootstrap works !"))
		input.btn.btn-primary(type="button", value="{{isAngularWorking}}")
	- for(var i = 0; i < 1000; i++)
		p.
			Bla bla