extends layouts/user

block body
	.col-sm-4.col-xs-12.pad-right
		//- Invite
		include includes/invite.jade
		//- Users
		include includes/users.jade
	.col-sm-8.col-xs-12.pad-left
		+alert(profileAlerts)
		//- Publications
		include includes/status.jade
