body
	background white

#directives-calendar
	.calAlert
		width 595px
		float right
		margin-bottom $smallPadding

	.calXBtn
		float right
		margin-top -$smallPadding
		margin-right -$smallPadding

	.calWell
		float left
		margin-bottom 40px

	// .fc-event
	// 	&.openSesame
	// 		.fc-event-skin
	// 			background-color rgb(229, 229, 11)
	// 			color black
	// 	&.customFeed
	// 		.fc-event-skin
	// 			background-color rgb(132, 222, 175)
	// 			color black

	.fc-agenda-axis
		width 80px !important

	.calTools
		margin-bottom $mainPadding

	.btn-toolbar
		float right
		padding-bottom $mainPadding

	ul.events
		margin 0
		padding 0
		list-style none
		.alert-info
			line-height 34px
			vertical-align middle
			.close
				font-size 1.1em
				margin-top $mainPadding
		.form-control
			width 160px
			float left
			margin-right $mainPadding