/* <--- Feuille de style (app.styl) correspondant à la page login.jade ---> */

// Variables de l'entête de page.
$footer-height = 150px
// Variables du corps de page.
$background = url(/img/background.jpg)
$baseColor = #fff
$orange = #ffa500
// Variables du pied de page.
$footer-height = 80px
$footer-background = rgba(255, 255, 255, 0.5)
// Variables des liens.
$link-color = #5f5f5f
$link-weight = bold
// Variables du bloc contenant le formulaire d'inscrition (centre).
$register-container-topspacing = 50px
$register-container-botspacing = 30px
$register-container-buttonwidth = 200px
$register-container-textbox-background = #ffffff
// Autres variables.
$highlightColor = lighten($baseColor, 60%)
$lightColor = lighten($baseColor, 35%)
$darkColor = darken($baseColor, 35%)
$satColor = saturate($baseColor, 35%)
$grayColor = desaturate($baseColor, 35%)
$mainPadding = 10px
$bigPadding = $mainPadding * 2
$smallPadding = $mainPadding / 2
$fonts = Average, helvetica, arial, sans-serif
//@import "../../node-modules/bootstrap-stylus/lib/bootstrap"
//@import "lib/bootstrap-theme"


border-radius()
	// Fonction pour arondir les bordures d'une boite.
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	// Fonction pour créer des ombres sur une boite.
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	// Fonction pour créer des fonds linéaire.
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// Raccourci

// Bloc de type inline-block.
.inline-block
	display inline-block

// Lien en gras.
.boldlink
	font-weight bold

html, body 
	// Tailles, marges interne et externe.
	min-height 100%
	width 100%
	margin 0px
	padding 0px

	// Bloquage de la séléction sur tous les navigateurs.
	-webkit-touch-callout none /* pour Chrome et Safari */
	-webkit-user-select none /* pour Chrome et Safari */
	-khtml-user-select none 
	-moz-user-select none /* pour Mozilla Firefox */
	-ms-user-select none
	-o-user-select none /* pour Opera */
	user-select none /* version standarisée */

	// Paramètres du fond de la page.
	background $background no-repeat center fixed
	-webkit-background-size cover /* pour Chrome et Safari */
	-moz-background-size cover /* pour Firefox */
	-o-background-size cover /* pour Opera */
	background-size cover /* version standardisée */
header
	height $header-height

body
	// Police de charactères.
	font 14px/1.4 $fonts

footer
	// Tailles du pied de page.
	width 100%
	height $footer-height

	// Positions du pied de page.
	position absolute
	bottom 0px
	left 0px

	// Paramètres relatif au texte. (Hérite de body)
	text-align center

	// Fond du pied de page.
	background-color $footer-background

h1
	// Fond, Couleurs, marges interne et externe des titres de taille 1.
	background $lightColor
	color $darkColor
	margin $bigPadding
	padding $mainPadding

	// Ombres du texte et de la boite.
	text-shadow 0 1px 1px $highlightColor
	box-shadow(0 0 1px $darkColor)

	// Bordures
	border-radius(3px)

a.link
	// Marges interne et externe des liens du pied de page (footer)
	margin 30px
	padding-left 10px
	padding-right 10px

	// Type de container
	display inline-block

	// Paramètres relatif au texte.
	color $link-color
	font-weight $link-weight

	// Curseur.
	cursor pointer

// Liens du pied de page au passage de la souris.
a.link:hover
	// Paramètres relatif au texte.
	text-decoration none

// Conteneurs de structure du design.

// Bloc contenant le formulaire de connexion.
div#connexion-content
	padding-top 30px
	padding-bottom 30px

// Bloc gauche.
div#container-left
	text-align center

// Bloc contenant le formulaire d'inscription.
div#container-center
	// Marges internes
	padding-bottom $register-container-botspacing
	padding-top $register-container-topspacing

	// Paramètres relatif au texte (Hérite de body).
	text-align center

// Bloc droit.
div#container-right
	text-align center

// Champs de type date.
input[type=date]
	// Marges internes et externes.
	padding 4px
	margin-left 10px
	margin-right 10px
	margin-top 5px
	margin-bottom 5px

	// Bordures.
	border 1px solid #eee
	border-radius 5px

	// Fond et police de charactères.
	background #fff
	font-family $fonts

// Champs de texte.
.register-textbox,select,.login-textbox,.date
	// Tailles.
	width 200px

	// Marges internes et externes.
	padding 4px
	padding-left 8px
	margin-left 10px
	margin-right 10px
	margin-top 5px
	margin-bottom 5px

	// Bordures.
	border 1px solid rgba(156, 156, 156, 0.35)
	border-radius 5px

	// Fond, police de charactères et ombres.
	background $register-container-textbox-background
	font-family $fonts
	box-shadow inset 0px 1px 6px 0px rgba(156, 156, 156, 0.35)

// Barre de sélection.
select
	padding-left 0px

// Champs de texte au focus.
.register-textbox:focus,select:focus,.login-textbox:focus,.date:focus
	// Correcteur d'orthographe et ombres.
	outline none
	box-shadow 0px 0px 3px 1px #F7852E

.register-button,.login-button
	// Marges internes et externes.
	margin 5px
	margin-left 0px
	padding 5px

	// Bordures.
	border-radius 4px
	border 0px solid #000

	// Paramètres relatif au texte.
	font-weight bold
	color #000

	// Fond
	background-linear-gradient(top,#ffda00,10%,#ff7500,90%)

// Elément XHTML contenant le COPYRIGHT de Wornet.
copytag
	color $link-color

// Elément contenant le slogan.
span#slogan
	// Paramètres relatif au texte. (Hérite de body)
	color #5f5f5f
	font-weight bold
	font-size 20px
	text-align center

	// Marges externes et type d'élément.
	margin 15px
	display block

// Image logo.
img#logo
	width 350px

// Elément contenant le texte à checker (Se souvenir de moi).
span.save
	color $linkcolor
	padding-left 20px

// Formulaire d'inscription.
form#register
	margin auto

// Formulaire de connexion.	
form#login
	padding-left 70px

// Case à cocher.
input[type=checkbox]
	margin-left 10px

// Lien d'oublie du mot de passe.
a#forget-it
	padding-left 85px
	color $orange
	cursor pointer

// Lien d'oublie du mot de passe au passage de la souris.
a#forget-it:hover
	text-decoration none

// Bloc d'espacement vertical.
div.space-block
	padding-top 50px

// Citations
.cite
	// Marges interne
	padding-top 10px
	padding-bottom 10px

	// Curseur
	cursor default

// Bouton d'inscription.
input#sign-in
	width $register-container-buttonwidth

// Police de charactères non-standard.
@font-face 
	font-family Average
	src url(/fonts/pakenham.regular.ttf)

// Media Queries.
@media (max-width: 768px)
	.none-mobile
		display none
	div[id=logo-content]
		text-align center
@media (max-width: 992px)
	.none-tablette
		display none