/* <--- Feuille de style générale ---> */

// Variables de l'entête de page.
$headerHeight = 200px
// Variables du corps de page.
$background = url(/img/background.jpg)
$orange = #ffa500
// Variables du pied de page.
$footerHeight = 80px
$footerBackground = rgba(255, 255, 255, 0.5)
// Variables des liens.
$linkColor = #5f5f5f
$linkWeight = bold

// Autres variables.
$mainPadding = 10px
$bigPadding = $mainPadding * 2
$smallPadding = $mainPadding / 2
$fieldVPadding = 4px
$fieldHPadding = 8px
$fieldLineHeight = 18px
$tooltipWidth = 240px
$fonts = Average, helvetica, arial, sans-serif

*
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

border-radius()
	// Fonction pour arondir les bordures d'une boite.
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

opacity(n)
	-webkit-opacity n
	-moz-opacity n
	opacity n
	filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

box-shadow()
	// Fonction pour créer des ombres sur une boite.
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	// Fonction pour créer des fonds linéaire.
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// Raccourci

// KO : Utilisé où ?
// Bloc de type inline-block.
.inline-block
	display inline-block

// KO : Utilisé où ?
// Lien en gras.
.boldlink
	font-weight bold

// Clear both
.cb
	clear both

html
body 
	// Tailles, marges interne et externe.
	height 100%
	width 100%
	margin 0px
	padding 0px

	// Bloquage de la séléction sur tous les navigateurs.
	-webkit-touch-callout none /* pour Chrome et Safari */
	-webkit-user-select none /* pour Chrome et Safari */
	-khtml-user-select none 
	-moz-user-select none /* pour Mozilla Firefox */
	-ms-user-select none
	-o-user-select none /* pour Opera */
	user-select none /* version standarisée */

	// Paramètres du fond de la page.
	background $background no-repeat center fixed
	-webkit-background-size cover /* pour Chrome et Safari */
	-moz-background-size cover /* pour Firefox */
	-o-background-size cover /* pour Opera */
	background-size cover /* version standardisée */

header
	height $headerHeight

body
	// Police de charactères.
	font 14px/1.4 $fonts
	padding-bottom $footerHeight

.loader
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden
	background url(/img/loader.gif) center center no-repeat
	.hidden
		height 0

.tooltip-focus.left
	width $tooltipWidth
	margin-left - $tooltipWidth - $mainPadding
	.tooltip-inner
		width $tooltipWidth
		max-width $tooltipWidth - 5

.tooltip.left.tooltip-focus .tooltip-arrow
	top 15px
	margin-right -5px

#wrap
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -$footerHeight
	padding 0 0 $footerHeight

footer
	// Tailles du pied de page.
	width 100%
	height $footerHeight

	// Paramètres relatif au texte. (Hérite de body)
	text-align center

	// Fond du pied de page.
	background-color $footerBackground

	a.link
	copytag
		// Marges interne et externe des liens du pied de page (footer)
		display block
		margin-top $bigPadding
		padding $mainPadding
		color $linkColor

	a.link
		// Marges interne et externe des liens du pied de page (footer)
		display block
		padding $mainPadding

		// Type de container
		display inline-block

		// Paramètres relatif au texte.
		font-weight $linkWeight

	// Liens du pied de page au passage de la souris.
	a.link:hover
		// Paramètres relatif au texte.
		text-decoration underline


// Champs de type date.
// KO Attention, le style va être appliqué à tous les champs de type date
// KO Il n'y a aucun champ de type date dans les templates
// KO D'une manière générale sur les champs, il va falloir leur trouver un style commun et partir du .form-control de bootstrap
input[type=date]
	// Marges internes et externes.
	padding 4px
	margin 5px 10px

	// Bordures.
	border 1px solid #eee
	// KO il faut utiliser la fonction pour une plus grande compatibilité
	border-radius 5px

	// Fond et police de charactères.
	background #fff
	font-family $fonts

.btn
.form-control
	// Marges internes et externes.
	padding $fieldVPadding $fieldHPadding
	margin $mainPadding 0
	line-height $fieldLineHeight * 0.7
	transition(all .2s)

input.form-control
input.btn
	height $fieldLineHeight + 2 * $fieldVPadding + 2 !important
	height $fieldLineHeight

// Champs de texte.
.form-control
	// Bordures.
	border 1px solid rgba(156, 156, 156, 0.35)

	// Réduction de padding due au border
	padding $fieldVPadding - 1 $fieldHPadding - 1

	// Fond, police de charactères et ombres.
	font-family $fonts

::-webkit-input-placeholder
	line-height $fieldLineHeight

:-moz-placeholder
	line-height $fieldLineHeight

::-moz-placeholder
	line-height $fieldLineHeight

:-ms-input-placeholder
	line-height $fieldLineHeight

// Barre de sélection.
select.form-control
	padding-left 0px

// Champs de texte au focus.
.btn:focus
.form-control:focus
	// Correcteur d'orthographe et ombres.
	-moz-outline none
	-webkit-outline none
	outline none
	border-color #D7752E
	box-shadow 0px 0px 3px 1px #F7852E

.btn
	// Bordures.
	border none

	// Paramètres relatif au texte.
	font-weight bold
	color #000

	// Fond
	background-linear-gradient(top, #ffda00, 10%, #ff7500, 90%)

	&.btn-plain
		width 100%

// Image logo.
img#logo
	width 350px

label
	font-weight normal
	vertical-align top
	line-height $fieldLineHeight
	color $linkcolor
	input[type="checkbox"]
		margin-top 3px
		margin-right $smallPadding

// Formulaire de connexion.	
form#login
	padding 30px 0
	.narrow
		padding 0 $smallPadding

// Lien d'oublie du mot de passe.
a#forget-it
	color $orange

// Lien d'oublie du mot de passe au passage de la souris.
a#forget-it:hover
	text-decoration none

// Police de charactères non-standard.
@font-face 
	font-family Average
	src url(/fonts/pakenham.regular.ttf)

// Imports.
@import "login"
@import "agenda"