.well.move
	padding 0

.move-search-banner
	cover('background-image/small/2')
	background-size
	height 500px
	background-size 100% 600px
	background-position-y -100px
	rel()

	h1
	h3
		color $nearlyWhite
		text-align center
		margin-top 0
		padding-top 50px
	h1
		font-weight bold

	.create-event
		margin-left calc(50% - 250px / 2)
		font-size 18px
		background-color $littleLightOrange
		size(250px, 60px)
		margin-top 50px
	.search-title
	.search-form
		margin-left calc(50% - 800px / 2)

	.search-title
		background-color $littleLightOrange
		width 200px
		text-align center
		color $nearlyWhite
	.search-form
		width 800px
		background-color $nearlyBlack
		height 200px

		label
			color $nearlyWhite

		label
		input
		select
		#tag-list
			margin $smallPadding

		textarea
			width 100%
		.send-search
			float right
			background-color $green

		.popularTags li
			cursor pointer

	.search-bloc
		abs()
		bottom -100px
		left calc(50% - 800px /2)
