/* <--- Feuille de style de /user/newsroom ---> */

// Variables de configuration
@import "includes/config"

// Fonctions stylus
@import "includes/mixins"


html
body
	background-image url(png(background-newsroom-image))
	background-attachment fixed

body>footer
	background-color #25262B
	border-top 1px solid gray

#container
	margin auto
	width 900px
	box-shadow(0px 0px 4px 1px #DADADA)

.jssora03l
.jssora03r
.jssora03ldn
.jssora03rdn
	abs(0, 0)
	cursor pointer
	display block
	background url(/components/jssor/img/a06.png) no-repeat
	overflow hidden
.jssora03l
	background-position -3px -33px
.jssora03r
	background-position -63px -33px
.jssora03l:hover
	background-position -123px -33px
.jssora03r:hover
	background-position -183px -33px 
.jssora03ldn
	background-position -243px -33px
.jssora03rdn 
	background-position -303px -33px

#partenariat
	background-color #fff
	height 300px

	h2
		text-align center
		color #808080
		margin 0
		padding $mainPadding

	img
		display inline-block
		width 120px
		padding $mainPadding
		margin 40px

.content
	display block
	padding $mainPadding
	margin 0px
	background-color #eee

	cite
		display inline-block
		color #696969
		padding 5px

	h3
		margin $mainPadding 0

	img
		display block
		size(80px, 80px)
		margin auto
		border-radius(100px)
		border 3px solid #25262B
		float left

.dialog
	display inline-block
	padding $mainPadding

	div
	article
		display inline-block

	.profile-content
		width 80px
		text-align center

	#arrow
		margin-left 4px
		size(20px, 100px)
		background url(png(arrow)) no-repeat center center
		background-size(20px 20px)

article
	width 460px
	padding $mainPadding
	margin 0
	font-size 14px
	background-color #fff
	p
		margin 0

.articles-content
.articles-content #articles
	display inline-block
	padding $mainPadding
	a
		display block
		padding 2px
