$fonts = Average, helvetica, arial, sans-serif
box-shadow()
	// Fonction pour créer des ombres sur une boite.
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
html, body
	background url(/img/background.png)
	background-attachment fixed
	padding-top 35px

#container
	margin auto
	width 900px
	box-shadow(0px 0px 4px 1px #DADADA)

.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
	position absolute
	cursor pointer
	display block
	background url(/components/jssor/img/a06.png) no-repeat
	overflow hidden
.jssora03l
	background-position -3px -33px
.jssora03r
	background-position -63px -33px
.jssora03l:hover
	background-position -123px -33px
.jssora03r:hover
	background-position -183px -33px 
.jssora03ldn
	background-position -243px -33px
.jssora03rdn 
	background-position -303px -33px

#partenariat
	background-color #fff
	height 300px

#partenariat h2
	text-align center
	color #808080
	font-family $fonts
	margin 0
	padding 10px

#partenariat img
	display inline-block
	width 120px
	padding 10px
	margin 40px

body>footer
	background-color #25262B
	border-top 1px solid gray
.content
	display block
	padding 10px
	margin 0px
	background-color #eee

	
.content cite
	display inline-block
	color #696969
	padding 5px

.content h3
	margin-top 10px
	margin-bottom 10px

.content img
	display block
	width 80px
	height 80px
	margin auto
	border-radius 100px
	border 3px solid #25262B
	float left

.dialog
	display inline-block
	padding 10px

.profile-content
	display inline-block
	width 80px
	text-align center

#arrow
	display inline-block
	margin-left 4px
	width 20px
	height 100px
	background-size 20px 20px
	background-image url(/img/arrow.png)
	background-repeat no-repeat
	background-position center


article
	display inline-block
	width 460px
	padding 10px
	margin 0
	border 0
	font-size 14px
	background-color #fff

blockquote p
	margin 0
blockquote footer
	margin 0px

.articles-content
	display inline-block
	padding 10px
	
.articles-content #articles
	display inline-block
	padding 10px

.articles-content #articles a
	display block
	padding 2px
