// Fonctions stylus
@import "includes/mixins"

.smiley
	display inline-block
	size(16px)
	rel(1px, 0)
	color transparent
	white-space nowrap

span.happy
	@extend .smiley
	background url(png('emoticone/happy'))

span.sad
	@extend .smiley
	background url(png('emoticone/sad'))

span.lol
	@extend .smiley
	background url(png('emoticone/lol'))

span.blink
	@extend .smiley
	background url(png('emoticone/blink'))

span.joke
	@extend .smiley
	background url(png('emoticone/joke'))

span.surprise
	@extend .smiley
	background url(png('emoticone/surprise'))

span.blush
	@extend .smiley
	background url(png('emoticone/blush'))

span.love
	@extend .smiley
	background url(png('emoticone/love'))

span.cry
	@extend .smiley
	background url(png('emoticone/cry'))

span.heart
	@extend .smiley
	background url(png('emoticone/heart'))
