p(style="margin: 10px;")
    img(src="https://static.wornet.net/img/wornet-gray.png" alt="Wornet")

p(style="margin: 10px;")
    | Votre compte a bien été créé.
    br
    | Toutefois, pour terminer votre inscription sur Wornet, cliquez sur le lien ci-dessous ou copiez-le dans la barre d’adresse de votre navigateur.

p(style="margin: 10px;")
    a(href="{url}")
        | Confirmer mon e-mail : {email}

p(style="margin: 10px; color: gray;")
    | WORNET, 38 rue François Chénieux, 87000 Limoges
    br
    | Un problème ? Vous pouvez nous contacter à l’adresse contact@wornet.net
