extends ../layouts/user

block body
	.col-xs-12: .well
		h3=album.name
		p=album.description
		.medias
			each image in photos
				a(data-toggle="modal" data-target="#media-viewer" data-load-media=['image', image])
					img(src=image.photo alt=image.name)
			.cb
