extends ../layouts/user

block meta
    +meta("robots", "noindex, follow")

block body
    .well
        each user in publicUsers
            a(href="/" + user.uniqueURLID)
                =user.name.full
            br
