doctype html
html(lang="en")

	head
		block meta
			meta(name="description" content="Wornet est un réseau social totalement repensé pour vous – et vos amis. Il intègre une plateforme de partage de contenu (Daily Capture) ainsi que …")
			meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
			meta(http-equiv="Content-Language" content="fr-EU")
			meta(name="keywords" content="réseau social, réseau, social, wornet, français, étudiants, Limoges, France, plateforme, vidéos, médias, amis, contacts, espace, personnel, professionnel, portefeuille, clients, e-réputation, entreprises, sociétés, célébrités")
			meta(name="generator" content="Wornet v1")
			meta(name="author" content="Manuel Costes")
			meta(name="copyright" content="© 2014 Wornet")
		title.
			Wornet
		block link
			link(rel="SHORTCUT ICON" href="favicon.png")
			link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
			link(rel="" href="../../node_modules/bootstrap-stylus/lib/bootstrap")
			link(rel="stylesheet" href="/css/app.css")
	body
		div(class="container")
			div(id="header" class="content col-lg-12 col-md-12 col-sm-12 col-xs-12")
				div(class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="logo_content")
					img(type="image/png" src="/img/logo.png" id="logo")
				div(class="col-lg-7 col-md-7 col-sm-7 none-mobile" id="connexion_content")
					form(method="post" action="login_check.jade")
						input(type="text" name="login_email" class="login_textbox" placeholder="Votre e-mail")
						input(type="password" name="login_password" class="login_textbox" placeholder="Mot de passe")
						input(type="submit" class="login_button" value="Se connecter")
						span(class="none-mobile none-tablette")
							br
						input(type="checkbox" value="Se souvenir de moi" name="save")
						span(class="save")
							=s("Se souvenir de moi")
			div(class="content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="container")
				div(id="container_left" class="col-lg-6 col-md-4 col-sm-6 none-mobile")
					div(class="contentbox")
						p(id="article").
							Michael Joseph Jackson, né le 29 août 1958 à Gary (Indiana) et mort le 25 juin 2009 à Los Angeles (Californie), est un chanteur, danseur-chorégraphe, auteur-compositeur-interprète acteur et réalisateur américain2,3. Il est reconnu par le Livre Guinness des records comme étant l’artiste
							...
						a(class="link boldlink" href="#")
							=s("Lire la suite...")
				div(id="container_center" class="col-lg-6 col-md-8 col-sm-10 col-xs-12")
					div(class="contentbox")
						span(id="slogan")
							=s("Devenez-vous mème!")
						form(method="post" action="register.jade" id="register")
							// FORM METHOD POST,GO TO register.jade, ID OF TEXTBOX: register_email, register_email_check, register_password
							select
								option.
									Créer un compte
								option.
									Créer une place
							br
							input(type="password" name="first_name" class="register_textbox" placeholder="Prénom")
							input(type="password" name="last_name" class="register_textbox" placeholder="Nom")
							br
							input(type="number" name="day" class="date" min="1" max="31" value="01")
							input(type="number" name="month" class="date" min="1" max="12" value="01")
							input(type="number" name="year" class="date"  min="0" max="2014" value="01")
							span(class="glyphicon glyphicon-plus-sign")
							br
							input(type="text" w name="register_email" class="register_textbox bigtextbox" placeholder="Votre e-mail")
							input(type="password"  name="register_password" class="register_textbox bigtextbox" placeholder="Votre mot de passe")
							input(type="password"  name="register_password_check" class="register_textbox bigtextbox" placeholder="Vérifier votre mot de passe")
							br
							div(id="check_all")
								input(type="checkbox")
								span(class="save")
									=s("J'accepte les [Conditions d'utilisation] et les [Règles de confidentialité] de Wornet")
								br
								input(type="submit" class="register_button" value="INSCRIPTION")

		div(id="footer" class="col-lg-12")
			a(class="link" href="#")
				=s("À propos")
			a(class="link" href="#")
				=s("Newsroom (blog)")
			a(class="link" href="#")
				=s("Offres d'emplois")
			a(class="link" href="#")
				=s("Dévelopeurs")
			a(class="link" href="#")
				=s("Ressources")
			copytag(data="right").
				&#169; 2014 Wornet 

