doctype html
html(lang="en")

	head
		block meta
			meta(name="description" content="Wornet est un réseau social totalement repensé pour vous – et vos amis. Il intègre une plateforme de partage de contenu (Daily Capture) ainsi que …")
			meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
			meta(http-equiv="Content-Language" content="fr-EU")
			meta(name="keywords" content="réseau social, réseau, social, wornet, français, étudiants, Limoges, France, plateforme, vidéos, médias, amis, contacts, espace, personnel, professionnel, portefeuille, clients, e-réputation, entreprises, sociétés, célébrités")
			meta(name="generator" content="Wornet v1")
			meta(name="author" content="Manuel Costes")
			meta(name="copyright" content="© 2014 Wornet")
			meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title.
			Wornet
		block link
			link(rel="SHORTCUT ICON" href="favicon.png")
			link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
			link(rel="" href="../../node_modules/bootstrap-stylus/lib/bootstrap")
			link(rel="stylesheet" href="/css/app.css")
	body
		div(class="container")
			div(id="header" class="content col-lg-12 col-md-12 col-sm-12 col-xs-12")
				div(class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="logo_content")
					img(type="image/png" class="img-responsive" src="/img/logo.png" id="logo")
				div(class="col-lg-7 col-md-7 col-sm-7 none-mobile" id="connexion_content")
					form(method="post" id="login" action="login_check.jade")
						input(type="text" spellcheck="false" name="login_email" class="login_textbox" placeholder="Votre e-mail")
						input(type="password" spellcheck="false" name="login_password" class="login_textbox" placeholder="Mot de passe")
						input(type="submit" class="login_button" value="Se connecter")
						span(class="none-mobile none-tablette")
							br
						input(type="checkbox" value="Se souvenir de moi" name="save")
						span(class="save")
							=s("Se souvenir de moi")
						a(id="forget_it")
							=s("Oublié ?")
			div(class="content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="container")
				div(id="container_left" class="col-lg-3 col-md-2 col-sm-1 none-mobile")
				div(id="container_center" class="col-lg-6 col-md-7 col-sm-7 col-xs-12")
					
						span(id="slogan")
							=s("Ouvrez un compte, c'est")
							br
							=s("gratuit.")
						form(method="post" action="register.jade" id="register")
							// FORM METHOD POST,GO TO register.jade, ID OF TEXTBOX: register_email, register_password, register_password_check
							br
							input(type="text" spellcheck="false" name="register_email" class="register_textbox bigtextbox" placeholder="Votre e-mail")
							br
							input(type="password" spellcheck="false" name="register_password" class="register_textbox bigtextbox" placeholder="Votre mot de passe")
							br
							input(type="password" spellcheck="false" name="register_password_check" class="register_textbox bigtextbox" placeholder="Vérifier votre mot de passe")
							br
							div(id="check_all")
								input(type="submit" class="register_button sign_in" value="Je m'inscris")
				div(id="container_right" class="col-lg-3 col-md-3 col-sm-3 none-mobile")
					p(class="description")
					p(class="cite")
						=s("\" Wornet est un réseau social français totalement repensé pour vous – et vos amis. \"")
					p(class="cite")
						=s("\" Contrôlez la portée de vos informations. \"")
					p(class="cite")
						=s("\"  Bénéficiez d'outils innovants et intuitif. \"")
	footer
		div(id="footer" class="col-lg-12 col-md-12 col-sm-12")
			a(class="link" href="#")
				=s("À propos")
			a(class="link" href="#")
				=s("Newsroom (blog)")
			a(class="link" href="#")
				=s("Offres d'emplois")
			a(class="link" href="#")
				=s("Dévelopeurs")
			a(class="link" href="#")
				=s("Ressources")
			copytag(data="right").
				&#169; 2014 Wornet 
