extends ../layouts/user

block body
	.col-sm-4.col-xs-12.pad-right
		if isMe
			include ../includes/friends
			include ../includes/asks-for-friend
	.col-sm-8.col-xs-12.pad-left: #notification-list.well.loading(ng-controller="NotificationListCtrl")
		.notice(ng-repeat="notice in notificationList")
			a(href="/notification/{{ notice._id }}" ng-bind-html="notice.content")
				|&nbsp;
			i.mobile-notification-date.date(data-date="{{ notice.date }}")
				|&nbsp;
			.notification-date: i.date(data-date="{{ notice.date }}")
					|&nbsp;
				| &nbsp; 
			.cb

		div(scroll-detect verify-to-load="noticeRemaining()" gap="300" url="getLoadUrl()" offset="getNoticeOffset()" callback="setRecentNotice").notice-loading
		+data('noticePageCount', config.wornet.limits.noticePageCount)
