extends ../layouts/user

block body
	.errors
		if profileErrors
			each error in list(profileErrors)
				.alert.alert-danger
					=error


	.col-sm-4.col-xs-12.pad-right
		//- Friends
		if isMe
			include ../includes/friends.jade
			include ../includes/asks-for-friend.jade
		//- Users
		include ../includes/users.jade
		//- Photos/Videos
		include ../includes/medias.jade
	.col-sm-8.col-xs-12.pad-left
		//- Profile
		include ../includes/profile.jade
		//- Publications
		include ../includes/status.jade

	+data('at', profile.id)
