main-color = #dfa980
fonts = helvetica, arial, sans-serif


border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments


body 
	font 14px/1.4 fonts
	background main-color
