extends ../layouts/simple

block inner-body
	h3
		=s("Oups...")
	if err
		pre
			!=strval(err.stack || err || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/([^\n\r]+[\/\\][^\/\\]+\.coffee[^\n\r]*)/g, '<b style="color: blue;">$1</b>')
	else
		p
			=s("Nous sommes désolés une erreur indépendante de notre volonté est survenue. Nos équipes travaillent à la résolution du problème.")
		+redirectHome()