extends ../layouts/wornet

block body
	h1
		=s("Erreur interne")
	if err
		pre
			!=err.stack.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/([^\n\r]+[\/\\][^\/\\]+\.coffee[^\n\r]*)/g, '<b style="color: blue;">$1</b>')