// Variables de l'entête de page.
$headerHeight = 200px
// Variables du corps de page.
$orange = #ffa500
$darkOrange = #d93a00

// Variables du pied de page.
$footerHeight = 80px
$footerBackground = rgba(255, 255, 255, 0.5)
// Variables des liens.
$linkColor = #5f5f5f
$linkWeight = bold

// Autres variables.
$mainPadding = 10px
$bigPadding = $mainPadding * 2
$smallPadding = $mainPadding / 2
$fieldVPadding = 4px
$fieldHPadding = 8px
$fieldLineHeight = 18px
$tooltipWidth = 240px
$fonts = Average, helvetica, arial, sans-serif

// Police de charactères non-standard.
@font-face 
	font-family Average
	src url(/fonts/pakenham.regular.ttf)