
$ultraLightOrange = #FCD19C
$lightOrange = #FFAF00
$orange = #E74215
$darkOrange = #BE320E
$ultraLight = #F4F4F4
$nearlyWhite = #F8F8F8
$lightGray = #ECEBE9
$gray = #D9D9D9
$mediumGray = #BBBBBB
$darkGray = #73645F
$nearlyBlack = #464646
$hoverGray = lighten($nearlyBlack, 20%)
$black = #232323

$warningColor = #f8efc0
$successColor = #c8e5bc
$infoColor = #b9def0
$dangerColor = #e7c3c3

$footerHeight = 80px
$footerBackground = rgba(255, 255, 255, 0.5)

$headerHeight = 56px
$thumbWidth = 50px
$thumbHeight = 50px
$chatThumbWidth = 25px
$chatThumbHeight = 25px
$notificationThumbWidth = 20px
$notificationThumbHeight = 20px

$linkColor = $lightOrange
$linkWeight = bold

// Marges
$mainPadding = 10px
$bigPadding = $mainPadding * 2
$smallPadding = $mainPadding / 2
$fieldVPadding = 4px
$fieldHPadding = 8px
$fieldLineHeight = 18px
$tooltipWidth = 240px
$mobileIncrease = 4px

// Suppots navigateurs CSS 3 N-1
$supportWebkit = true
$supportMozilla = true
$supportOpera = false
$supportKhtml = false
$supportMS = false

$fonts = helvetica, arial, sans-serif

$chatTitleHeight = 26px
$chatHeight = 285px
$chatWidth = 260px

$shutterBorderWidth = 3px
