
$orange = #FD9C02
$darkOrange = #D78502
$ultraLight = #F4F4F4
$lightGray = #E7E7E7
$gray = #D9D9D9
$darkGray = #C3C3C2
$black = #7E7E7E

$footerHeight = 80px
$footerBackground = rgba(255, 255, 255, 0.5)

$headerHeight = 50px
$thumbWidth = 50px
$thumbHeight = 50px

$linkColor = #5f5f5f
$linkWeight = bold

// Marges
$mainPadding = 10px
$bigPadding = $mainPadding * 2
$smallPadding = $mainPadding / 2
$fieldVPadding = 4px
$fieldHPadding = 8px
$fieldLineHeight = 18px
$tooltipWidth = 240px
$mobileIncrease = 4px

// Suppots navigateur CSS 3 N-1
$supportWebkit = true
$supportMozilla = true
$supportOpera = false
$supportKhtml = false
$supportMS = false

$fonts = helvetica, arial, sans-serif
// Police de charactères non-standard.
// @font-face 
// 	font-family Average
// 	src url(/fonts/pakenham.regular.ttf)