
border-radius()
	// Fonction pour arondir les bordures d'une boite.
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

opacity(n)
	-webkit-opacity n
	-moz-opacity n
	opacity n
	filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

box-shadow()
	// Fonction pour créer des ombres sur une boite.
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	// Fonction pour créer des fonds linéaire.
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
