.comment-list
    margin ($bigPadding + $smallPadding) 0 (- $bigPadding)

.comment-form
    padding (3 * $mainPadding) 0
    .btn
        float right

.comment-author
    img
        float left
        margin $smallPadding
        size($commentThumbSize)

.comment-content
    font-size 14px
    margin-left 45px

.comment-block
    background-color $lightGray
    margin 0 (- $mainPadding)
    padding 0 $mainPadding
    .aside
        padding-top $smallPadding
    .date
        font-size $dateSize

@media (max-width: 414px)
    .btn-action-comment
        span, i
            font-size 10px
