/* <--- Feuille de style de /user/login ---> */

$passSecurityWidth = 210px

// Elément contenant le slogan.
#slogan
	// Paramètres relatif au texte. (Hérite de body)
	color #5f5f5f
	font-weight bold
	font-size 20px
	text-align center
	padding-bottom 40px

	// Marges externes et type d'élément.
	margin 5px
	display block

// Class pour la sécurité du mot de passe
.pass-security
	margin -3px $mainPadding
	width $passSecurityWidth + 2
	display inline-block
	color #141414
	border 1px solid #141414
	font-weight bold
	height 20px
	.bar
		height 13px
		width 0
		transition(all .2s)
		text-align center
		color #333
		padding 2px
		height 18px
		.inner
			display none
			white-space nowrap

	&.verylow .bar
		width $passSecurityWidth * 0.2
		background #FF0000
		border 1px solid #ff0000
		.verylow
			display block
	&.low .bar
		width $passSecurityWidth * 0.4
		background #FF8800
		border 1px solid #ff7d00
		.low
			display block
	&.medium .bar
		width $passSecurityWidth * 0.6
		background #FFFF00
		border 1px solid #ffe600
		.medium
			display block
	&.high .bar
		width $passSecurityWidth * 0.8
		background #88FF00
		border 1px solid #abe600
		.high
			display block
	&.veryhigh .bar
		width $passSecurityWidth
		background #00FF00
		border 1px solid #2a94ff
		background-color #2a94ff
		.veryhigh
			display block


// Citations
#quotes blockquote
	text-align center
	// Marges interne
	padding-top 18px
	padding-bottom 2px

	// Bordures
	border-left none

// Media Queries.
@media (max-width: 767px)
	img#logo
		margin auto
	#slogan
		margin-top $bigPadding * 2
	.mobile-field
		padding $fieldVPadding $fieldHPadding
		margin $mainPadding 0
		line-height $fieldLineHeight
		display block
		background rgba(255, 255, 255, 0.8)
		border-radius(4px)
	footer
		a.link
		copytag
			padding $smallPadding
			margin $smallPadding 0 0

@media (max-width: 991px)
	img#logo
		margin $bigPadding auto