// Variables de configuration
@import "../includes/config"

/* <--- Feuille de style de /user/login ---> */

$passSecurityWidth = 210px

// Class pour la sécurité du mot de passe
.pass-security
    margin -2px 7px
    width $passSecurityWidth + 2
    display inline-block
    color #141414
    border 1px solid #141414
    font-weight bold
    height 20px
    .bar
        height 13px
        width 0
        transition(all .2s)
        text-align center
        color #333
        padding 2px
        height 18px
        .inner
            display none
            white-space nowrap

    &.verylow .bar
        width $passSecurityWidth * 0.2
        background #FF0000
        border 1px solid #ff0000
        .verylow
            display block
    &.low .bar
        width $passSecurityWidth * 0.4
        background #FF8800
        border 1px solid #ff7d00
        .low
            display block
    &.medium .bar
        width $passSecurityWidth * 0.6
        background #FFFF00
        border 1px solid #ffe600
        .medium
            display block
    &.high .bar
        width $passSecurityWidth * 0.8
        background #88FF00
        border 1px solid #abe600
        .high
            display block
    &.veryhigh .bar
        width $passSecurityWidth
        background #00FF00
        border 1px solid #2a94ff
        background-color #2a94ff
        .veryhigh
            display block


// Citations
#quotes blockquote
    text-align center
    // Marges interne
    padding-top 18px
    padding-bottom 2px

    // Bordures
    border-left none
