
.photo-options-media
	float left
	margin 0 $mainPadding 0 0
	width 100%

	.btn
		margin $smallPadding 0 0
		width 100%

@media (max-width: 767px)
	.photo-options-media .btn
		width ($photoWidth / 2)
	#profile-photo-media
		size($photoWidth / 2, $photoHeight / 2)
		.btn
			width calc(100% - 8px)
			i
				display none

@media (max-width: 423px)
	.photo-options-media
		float none
		width ($photoWidth / 2)
		margin 0 auto 10px

#add-profile-photo
	display none

#profile-photo-media
	size(100%, 50px)
	rel()

	span
		margin-top $mainPadding
		abs()
		width 100%
		left 0

	.progress-radial
	.progress-radial .overlay
	img.upload-thumb
	input.upload
	.loader
		abs()
		left 0
		size(100%)

	input.upload
		cursor pointer
		opacity(0)

	.progress-radial
	.progress-radial .overlay
	img.upload-thumb
		cursor pointer
		if $photoRadius
			border-radius($photoRadius)
		transition(all .2s)

	img.upload-thumb
		display none

	.progress-radial
		padding $progressRadialWidth
		background-color $darkOrange
		.overlay
			rel()
			background-color white
			text-align center
			vertical-align middle


.album
	// background $ultraLightOrange
	// border-radius(4px)
	width 100%
	padding 0 $smallPadding $smallPadding 0
	transition(.2s all)
	margin 0 $mainPadding $mainPadding 0
	//cursor pointer
	float left

	//&:hover
	//	background $lightOrange

	h4
		font-size 16px
		margin 0 0 $smallPadding

	.description
		margin 2px 0 0

	.preview
		size(100%)
		padding 0
		img
			display block
			float left
			margin $smallPadding 0 0 $smallPadding
			size($thumbWidth, $thumbHeight)
			cursor pointer
	.album-name
		color $linkColor

.medias
.medias-block
	h3
		clear left
		margin 0
		padding-top $mainPadding

	iframe
	img
		size(90px)
		float left
		margin 0 $smallPadding $smallPadding 0

	iframe.preview
		float none
		size(480px, 270px)
		@media (max-width: 564px)
			size(240px, 135px)

	img.video-preview
		size(240px, 180px)

	a:not(.album-name, .album-number)
		display block
	a
		color $linkColor
		&.all-albums
			float right
		&.album-name
			font-size 16px

#all-albums
	.preview img
		size(90px)

@media (max-width: 991px)
	.album
		h4
			font-size 13px

		.preview img
			size(30px)
