$photoWidth = 200px
$photoHeight = 200px
$photoRadius = false
$progressRadialWidth = 4px

.profile-edit-btn
	width 180px

.status-author
	a
		font-size 18px
	img
		float left
		margin $smallPadding
		size(50px, 50px)

.status-block
	padding $mainPadding
	margin $mainPadding 0
	background white
	border 1px solid #ddd
	border-radius(4px)

	.status-content
		padding $smallPadding
		clear left

#profile-photo
	size($photoWidth + 2 * $progressRadialWidth, $photoHeight + 2 * $progressRadialWidth)
	position relative
	float left
	margin 0 $mainPadding 0 0

	.progress-radial
	.progress-radial .overlay
	img.upload-thumb
	input.upload
	.loader
		position absolute
		size(100%, 100%)

	input.upload
		cursor pointer
		opacity(0)

	.progress-radial
	.progress-radial .overlay
	img.upload-thumb
		if $photoRadius
			border-radius($photoRadius)
		transition(all .2s)

	.progress-radial
		padding $progressRadialWidth
		background-color $darkOrange
		.overlay
			position relative
			background-color white

	&:hover img
		border-width 0
		opacity(0.7)

@media (max-width: 767px)
	#profile-photo
		size($photoWidth / 2 + 2 * $progressRadialWidth, $photoHeight / 2 + 2 * $progressRadialWidth)
