.status-block .medias
	padding $smallPadding


.status-form
//.status-medias-form

	padding 10px
	margin-bottom 10px
	background #fff
	border 1px solid #ddd
	border-radius(4px)

	.publish
		input
			float right
			margin-left -65px
	.album-select
		margin $mainPadding 0
		padding 0

		select
			padding 0

	.status-confidentiality
		margin $mainPadding 0
		padding 5px
		border-radius(2px)
		width calc( 100% - 38px - 72px - 10px - 10px )
		float left
		font-size 12px

	.add-medias
		float left
		margin $mainPadding $mainPadding $mainPadding 0
		padding-top 5px
		border-radius(4px)
		background-color $mediumGray

	div.image-box
		size(90px)
		display inline-block
		margin $mainPadding $mainPadding 0 0
		float left
		img
			size(90px)

		span.halflings
			rel()
			float left
			margin 2px 2px 0 0px
			color rgba(255,255,255,.6)
			font-size 19px
			cursor pointer
			right -69px
			top -90px

			&:hover
				color white

.status-link-preview
.status-link-preview-list
	margin-top $mainPadding
	border 1px solid #ddd
	display none
	padding $smallPadding
	rel()
	.global-link-preview
		display block
		text-decoration none
		cursor pointer
		.link-preview-image
			size(90px)
			float left
			margin-right $mainPadding
		.link-preview-link
		.link-preview-description
		.link-preview-author
			color $nearlyBlack
		.link-preview-title
			color $orange
		.link-preview-description
		.link-preview-author
			font-size 12px
		.status-link-preview-author
			margin-top $smallPadding
			border-top 1px solid #ddd
			padding 0
			.link-preview-author
				border-left 1px solid #ddd
				padding-left $smallPadding
				color $darkGray
			.link-preview-link
				margin-right $smallPadding
				color $darkGray

.status-link-preview-list
	display block

a.dismiss-link-preview-image
a.dismiss-link-preview
	abs()
	top 0
	color $nearlyBlack
	cursor pointer
	text-decoration none

.dismiss-link-preview-image
	left 85px

.dismiss-link-preview
	right 10px

.status-author
	a
		font-weight bold
	img
		float left
		margin $smallPadding
		size($thumbWidth, $thumbHeight)
	.icon-arrow-right
		background url(png("icon-arrow-right"))
		background-size 16px
		size(16px, 16px)
		padding 0
		margin 0
		box-shadow none
		cursor auto

.status-block
	padding $mainPadding
	margin $mainPadding 0
	background white
	border 1px solid #ddd
	border-radius(4px)

	.date
		font-size $dateSize
	.settings .halflings-cog
		color $mediumGray

		&:hover
			color $linkColor

	.status-content
		padding $smallPadding
		clear left

	a
		color $linkColor

	.medias.edit-status
		margin-top 100px

.status-content-edit
	margin-bottom $bigPadding * 2

.status-actions
	height 30px
	border-top 1px solid $gray
	margin-top $mainPadding

	div
		height 50px
		&:first-child
			border-right 1px solid $gray
		&:last-child
			border-left 1px solid $gray

	.btn-action-plus-w
	.btn-action-comment
		background transparent
		cursor pointer
		.icon
			background url(png("comment"))
			margin 10px 5px 15px
			background-size 18px
			size(18px, 18px)
			padding 0


	.btn-action-plus-w
		margin 10px 5px 15px
		background url(png("empty-w"))
		background-size 18px
		size(18px, 18px)
		padding 0
		&.full
			background-image url(png("full-w"))

	.btn-action-share
		color $orange
		font-size 18px
		background transparent
		padding 0
		margin 0

		.glyphicons
			margin-top $mainPadding

	.btn
		box-shadow none

.btn-action-comment
.btn-action-share
	cursor pointer

.status-actions
.status-actions-text
	text-align center
	padding 0
	color $darkGray

.add-media h4
	a
		color $linkColor
	span
		color $mediumGray

.upload-container
	margin $mainPadding $mainPadding 0 0
	position relative
	// border-radius(4px)
	border 2px solid $orange
	box-sizing border-box
	size(90px)
	display inline-block

	@media (max-width: 768px)
		margin $mainPadding 0 0 0

	.progress-bar
		position absolute
		height 86px
		background lighten($lightOrange, 40%)

	.upload
		opacity(0)
		position absolute
		size(100%)

.upload-label
	color $darkGray
	font-weight bold
	font-size 58px
	text-align center
	position absolute
	width 100%

	small
		font-weight normal

.share-message-block
	padding $mainPadding
	color $darkGray
	border-bottom 1px solid $gray
	margin-bottom $mainPadding

.like-details
	border-top 1px solid $gray
	margin-top $mainPadding
	padding-top $smallPadding
	.likers-photo
		border-radius(100%)
		margin $smallPadding $mainPadding $smallPadding 0
		size(30px)
	.more-liker
		display inline-block
		size(30px)
		background-color $gray
		vertical-align middle
		line-height 30px
		text-align center
		font-size 12px

@media (max-width: 414px)
	.status-actions
		margin-left 0

		.btn-action-comment .icon
				margin 10px 5px 10px
				background-size 15px
				size(15px, 15px)

		.btn-action-plus-w
			margin 10px 5px 10px
			background-size 15px
			size(15px, 15px)

		.like-zone
			font-size 10px

	.comment-form .btn
		width 50%

	.status-block
		.settings
			width 20px
			ul
				margin-left -150px
	.well
		margin-bottom $mainPadding

	.share-message-block
		padding 0 $mainPadding

	.comment-block
		rel()
		.settings
			top $smallPadding
			right $smallPadding

	.status-form .status-confidentiality
		padding 7px

@media (max-width: 767px)
	.status-author
		clear right
	.all-status-block
		padding 0
	.status-form .add-medias
		padding-top 7px
	.status-actions
		height $bigPadding
		div
			height 40px
		.btn-action-plus-w
		.btn-action-comment .btn.icon
			margin-top $smallPadding
		.btn-action-share .glyphicons-share
			margin-top 0
	.status-actions-text
		height $bigPadding
		span
			font-size 10px
