div#contact(ng-controller="ContactCtrl")
	.modal-header
		button.close(type='button', data-dismiss='modal')
			span(aria-hidden='true') ×
			span.sr-only
				=s("Fermer")
		h4.modal-title
			=s("Nous contacter")

	.modal-body
		#contact-error.alert.alert-danger
		=s("Vous rencontrez un problème ? Vous avez une idée ? Vous souhaitez échanger avec nous ? N'hésitez pas à nous envoyer un mail. Nous y répondrons dans les plus brefs délais. ")
		form#contact-form
			select.form-control(name="motif" autocomplete="off" required ng-model="contact.motif")
				option(value='')
					=s("Sélectionner...")
				for mails, title in config.wornet.contact.emails
					option(value=title)
						=title.charAt(0).toUpperCase() + title.slice(1)
			textarea.form-control(name="message" autocomplete="off" title=title required ng-model="contact.message" placeholder=s("Votre message...") rows="10")
	.modal-footer
		button.btn(type='button', data-dismiss='modal')
			=s("Annuler")
		button.btn.btn-primary(type='submit' ng-click="send()")
			=s("Envoyer")
