p(style="margin: 10px;")
	img(src="https://www.wornet.fr/img/wornet-gray.png" alt="Wornet")
	
p(style="margin: 10px;"): b
	| Un worner nous a contacter à propos de {motif}
	
p(style="margin: 10px;")
	| Voici son message:
	
p(style="margin: 10px;")
	| {message}
